/*
 * Dropit v1.1.0
 * http://dev7studios.com/dropit
 *
 * Copyright 2012, Dev7studios
 * Free to use and abuse under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 */

/* These styles assume you are using ul and li */


.dropit {
  list-style: none;
	padding: 0;
  margin: 11px 0 0;
  float:right;
  display:inline-block;
  }
.dropit .dropit-trigger { 
  position: relative; 
  }
 .dropit .dropit-open .dropit-submenu li a {
  color:#fff;
  text-decoration: none;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size:14px;
  font-weight:300;
 }
  .dropit .dropit-open .dropit-submenu li a i{
  color:#39D3CA;
  padding-right:4px;
}
 .dropit .dropit-open .dropit-submenu li {
  display: block;
  margin-bottom: 20px;
 }  
.dropit .dropit-submenu {
  position: absolute;
  right: 0; /* dropdown left or right */
  border-radius:4px;
  background: #353534;
  z-index: 1000;
}
.menu ul.dropit-submenu {
  top: 100%;
	padding: 20px 20px 20px 40px;
	margin: 20px 0 0;
  min-width: 100px;
}
.account ul.dropit-submenu {
   bottom: 100%;
   padding:20px 20px;
   margin-bottom:7px;
   min-width: 150px;
}

/*--padding at end of list--*/
 .dropit .dropit-open .dropit-submenu li:last-child {
  margin-bottom: 0px;
 }

/*--triangle--*/
.dropit .dropit-submenu:after {
  content: " ";
  position: absolute;
  border-style: solid;
  border-color: #353534 transparent;
  display: block;
  width: 0;
  z-index: 1;
}
.menu ul.dropit-submenu:after {
  border-width: 0 8px 8px;
  top: -8px;
  right: 10px;
 }

 .account ul.dropit-submenu:after {
  border-width: 8px 8px 0;
  bottom: -8px;
  right: 13px;
 }

