html, body{
   overflow-x: hidden;
 }
 body {
   font-family: "Open Sans", Helvetica, Arial, sans-serif;
   color:#546161;
 }
 h1, h2, h3, h4, h5, h6 {
   font-family: "Open Sans", Helvetica, Arial, sans-serif;

 }
 h2 {
   font-size:28px;
   font-weight: bold;
   margin-bottom: 5px;
 }

 p {
   font-size:16px;
   line-height: 24px;
   font-weight: 100;
 }

/* GRID */

 .container {
   margin-right: auto;
   margin-left: auto;
   padding-left: 15px;
   padding-right: 15px;
   position: relative;
 }
 .container:before,
 .container:after {
   content: " ";
   display: table;
 }
 .container:after {
   clear: both;
 }

.one-half-menu {
   float:left;
   min-height: 1px;
   margin:.5em 1% 20px;

}

 .one-half, .one-third, .one-fourth {
   width:96%;
   float:left;
   position:relative;
   min-height: 1px;
   margin:0 2% 20px;
 }

  @media (min-width: 320px) {
     .container {
     width: 320px;
   }
    .one-third {
     width:96%;
   }  
   .one-half {
     width:96%;
   }
     .one-half-menu {
     width:96%;
   }
 
 
 }
  @media (min-width: 480px) {
     .container {
     width: 480px;
   }
    .one-third {
     width:96%;
   }
  
   .one-half {
     width:96%;
   }

   .one-half-menu {
     width:46%;
   }

 
 }
  @media (min-width: 768px) {
     .container {
     width: 750px;
   }
    .one-third {
     width:29.33333%;
   }

   .one-half {
     width:96%;
   }
    .one-half-menu {
     width:46%;
   }

 
 }
 @media (min-width: 992px) {
   .container {
     width: 970px;
   }
   .one-half {
     width:46%;
   }
   .one-third {
     width:29.33333%;
   }
   .one-fourth {
     width:21%;
   }

  
 }
 @media (min-width: 1200px) {
   .container {
     width: 1170px;
   }

 }
  @media (min-width: 1920px) {
   .container {
     width: 1800px;
   }


 }

 /* HEADER */


 .site-logo {
    width:156px;
 }

.navbar {
  background-color: #546161;
}

header {
   color:#FFFFFF;
   background: #39D3CA;
   background-image: linear-gradient(to bottom,
        #39D3CA 0%, #39D3CA 88%, #31B7AF 88%, #31B7AF 100%);
 }

 header nav {
   padding:1em 0 .18em;
 }
 header nav ul {
   display:inline;
   text-align: right;
   float:right;
   margin:0;
 }
 header nav ul > li {
   list-style-type: none;
   display: inline-block;
   margin:0 10px;

 }
 header nav ul > li.btn-outline {
   padding: 8px 15px;
   border: 2px solid #868585;
   border-radius: 4px;
 }
 header nav ul > li.btn-orange {
   padding: 8px 15px;
   border-radius: 4px;
   background:#F5A623;
   box-shadow: 0px 3px 0px 0px #B47A1A;
 }
 header nav ul > li.btn-orange:hover {
   background:#F7B850;

 }
 header nav ul > li > a {
   color:#FFFFFF;
   text-decoration: none;
 }
 header nav ul > li.btn-orange:hover > a {
   color:#FFFFFF;
 }

  header .hero {
   text-align: center;
   display:block;

 }
 header .hero h1 {
   font-size:40px;
   font-weight: bold;
   margin:95px 0 0;
 }

 header .hero p {
   font-size: 29px;
   line-height: 32px;
   font-weight: 200;
   margin:10px 10px 40px;
 }
 header .hero img {
   margin:5em auto 5%;
   width:100%;
 }



 /* BUTTONS */

  .btn {
   border-radius: 4px;
   color:#FFFFFF;
   font-weight: 100;
   text-decoration: none;
   padding:10px 30px;
   background: #F5A623;
   box-shadow: 0px 3px 0px 0px #B47A1A;
 }

 /* BENEFITS */


  .call-out {
    display: block;
    float: left;
    text-align: center;
    width: 66.3333%;
    min-height: 280px;
    padding-top: 70px;
  }
  .call-out-short {
    display: block;
    float: left;
    text-align: center;
    width: 33.3333%;
    min-height: 280px;
    padding-top: 70px;
  }

  .notes {   
    background: #98002e;   
    background-image: url(../images/notes.png);
    background-size:cover;
  }
  .images {   
      background: #343737;   
    background-image: url(../images/images.png);
    background-size:cover;
  }

 .links {   
    background: #98002e;   
    background-image: url(../images/links.png);
    background-size:cover;
  }

  .white {
    background: #fff;   
  }
  .grey {
    background: #343737;   
  }
  .green {
    background: #B8E6E4;   
  }

 .benefits {
  position: relative; 
  width:100%; 
  margin: 0 auto; 
}

 .benefits ul {
   margin: 0 auto;
   padding:4em 0;
 }
 .benefits ul li {
   list-style-type: none;
   display: inline-block;
 }

  .benefits i {
   color:#ccc;
   font-size:60px;
   margin:0;
   vertical-align: middle;
 }
 .benefits h2 {
   color:#ccc;
 }

 .benefits p {
   padding:0 2em;
 }

 /*PRICING*/

 .pricing {
   background: #EBEFEE; 
   background-size:cover;
   text-align: center;
   padding:4em 0;
 }
 .pricing h2, .pricing p {
   color:#546161;
 }
 .pricing ul {
   margin:0 auto;
   padding:2em 0;
 }
 .pricing ul li {
   list-style-type: none;
 }
 .box {
   padding:0 15px 15px;
   background: #FFFFFF;
   min-height: 439px;
   position: relative;
   margin-top: 25px;
 }

 .box h3 {
   font-family: "Open Sans", Helvetica, Arial, sans-serif;
   color:#fff;
   font-weight: 600;
   text-transform: uppercase;
   background: #F5A623;
   left:0;
   right:0;
   top:0;
   text-align: center;
   margin:0 -15px 40px;
   padding:13px 0;
 }

 .box h4 {
   font-size:50px;
   font-weight: bold;
   margin:40px 0 10px;
   color:#546161;
 }
 .box h4 span {
   font-size:32px;
   vertical-align: top;
 }
 .box h4 span.month {
   font-family: "Open Sans", Helvetica, Arial, sans-serif;
   font-weight: 200;
   color:#546161;
   font-size:20px;
   vertical-align: middle;
 }
 .box ul li {
   font-size:18px;
   margin-bottom:20px;
   font-weight: 100;
 }

  .box .btn {
   position:absolute;
   bottom:20px;
   left:20px;
   right:20px;
 }
 .small {
   font-size: 14px;
   color: #FEFEFE;
   line-height: 15px;
   font-style:italic;
 }


/* TESTIMONIALS */


 .testimonials {
   background-color: #39D3CA;
    text-align: center;
    color:#fff;
 }

 .testimonials h2 {
   color:#3498DB;
 }

  .testimonials p {
    width:80%;
    margin:2em auto;
 }
 .testimonials ul li {
   list-style-type: none;
 }

 .testimonials img {
float:right;   
display: inline-block;
padding-bottom:20px;

 }

 .testimonials h1{
   margin-top: 3em;
 }

 .testimonials p.name {
   float: left;
   display: inline-block;
   text-align: left;
   font-size:13px;
   margin-top: 30px;

 }

   .testimonials i {
   color:#A7E5E1;
   font-size:80px;
   margin:0;
   vertical-align: middle;
 }

 .quote {
  background-color:#404949;
  margin:0 auto;
  display:block;
  width: 460px;
  float:right;
 }


 .quote p {
  text-align: left;
  font-family: "Source Serif Pro", Helvetica, Arial, sans-serif;
  font-size: 14px;
 }

 .quote p span {
  font-family:"Open Sans", Helvetica, Arial, sans-serif;
  font-weight:bold;
 }

 /*FOOTER*/

 footer {
   background-color: #546161;
   background-image: linear-gradient(to top,
      #546161 0%, #546161 50%, #546161 50%, #546161 100%);
   color: #FFFFFF;
   height: 150px;
   position: relative;
   overflow: hidden;
   z-index: 0;
 }
 footer p, footer nav ul {
   font-size:12px;
   font-weight:100;
   text-align: center;
   margin: 10px auto 0;
 }
 footer nav ul li {
   list-style-type: none;
   display: inline;
 }
 footer nav ul li a {
   color:#FFFFFF;
   text-decoration: none;
 }
 footer .right-footer-block {
   background-color: transparent;
 }

 footer .logo{
   padding: 2.35em 0;
   margin: 0 auto;
   display: block;
 }

@media (min-width: 320px){
   footer{
     background-color: #546161;
     background-image: linear-gradient(to top,
        #546161 0%, #546161 33.33337%, #475253 33.33337%, #475253 100%);
     height: 220px;
   }
    footer p, footer nav ul{
     padding: .5em 0;
     text-align: center;
   }
   footer .logo{
     padding: .5em auto;
   }
 }
@media (min-width: 480px){
   footer{
     background-color: #546161;
     background-image: linear-gradient(to top,
        #546161 0%, #546161 33.33337%, #475253 33.33337%, #475253 100%);
     height: 220px;
   } 
    footer p, footer nav ul{
     padding: .5em 0;
     text-align: center;
   }
   footer .logo{
     padding: 1em auto;
   }
 }
 @media (min-width: 768px){
    footer{
     background-color: #546161;
     background-image: linear-gradient(to left,
        #546161 0%, #546161 33.33337%, #475253 33.33337%, #475253 100%);
     height: 105px;
   }
   footer p, footer nav ul{
     padding: 2em 0;
     text-align: center;
   }
   footer .logo{
     padding: 2em auto;
   }
 }
@media (min-width: 992px){
   footer{
     background-color: #546161;
     background-image: linear-gradient(to left,
        #546161 0%, #546161 33.33337%, #475253 33.33337%, #475253 100%);
     height: 100px;
   }
   footer p, footer nav ul{
     padding: 2em 0;
     text-align: center;
   }
   footer .logo{
     padding: 2em 0 2em 1.5em;
   }
 }